<section class='bg-slate-900 h-full flex w-[100vw]  place-items-center justify-center text-white flex-col'>
  <h2 class="text-center font-bold font-mono text-3xl mb-9">Are you ready to manage the users?</h2>
  <div class="w-[40vw] h-[50vh] bg-slate-800 text-black">
    <form action="" class="w-[40vw] h-[50vh] flex flex-col justify-center items-center text-white">
      <h3 class="font-mono">Login here</h3>
      <div class=" w-[90%] h-[50%] flex items-center flex-col">
        <input type="text" class="w-[90%] h-[30%] my-5 bg-slate-950 rounded-lg ps-2" placeholder="admin@example.com">
        <input type="text" class="w-[90%] h-[30%] rounded-lg   bg-slate-950 ps-2" placeholder="password">
      </div>
    
      <button class="border-red-100 border-solid border-2 w-40 rounded-xl p-2 hover:bg-white hover:text-black mb-10">Login</button>
    </form>
  </div>
</section>